<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Dashboard</title>
</head>
<body>
    Hey there <%=user.username %>#<%=user.discriminator %>

    <table>
        <tr>
            <th>Name</th>
            <th>Votes</th>
            <th>Owner</th>
            <th>ID</th>
        </tr>
        <% for(var guild of availableGuilds) { %>
            <tr>
                <td>
                    <a href="dashboard/<%=guild.id; %>"><%= guild.name; %></a>
                </td>
                <td>
                    <% if(typeof guild.votes !== "undefined"){ %>
                        <a href="list/<%=guild.id; %>"><%=guild.votes; %></a>
                    <% } else { %>
                        Unlisted
                    <% } %>
                </td>
                <td><%= guild.owner ? "yes" : "no"; %></td>
                <td><%= guild.id; %></td>
            </tr>
        <% } %>
    </table>
</body>
</html>